body {
    margin: 0;
}

.wrapper {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    width: 1000px;
    height: 1000px;
}

.box {
    position: absolute;
    top: calc(50vh - 10%);
    left: calc(50vw - 10%);
    width: 20%;
    height: 20%;
    background: blue;
}

.box:hover {
    z-index: 3;
    background: maroon;
}

.box-small {
    position: absolute;
    top: calc(50vh - 5%);
    left: calc(50vw - 5%);
    z-index: 1;
    width: 10%;
    height: 10%;
    border-radius: 20%;
    background: yellow;
}

.round-olive {
    position: absolute;
    top: 19%;
    left: 75%;
    z-index: -1;
    width: 5%;
    height: 5%;
    border-radius: 50%;
    background: red;
}

.round-olive:hover {
    z-index: 2;
    background: olive;
}

.round-navy {
    position: absolute;
    top: 19%;
    left: 56%;
    z-index: -1;
    width: 5%;
    height: 5%;
    border-radius: 50%;
    background: red;
}

.round-navy:hover {
    z-index: 2;
    background: navy;
}

.round-magenta {
    position: absolute;
    top: 38%;
    left: 56%;
    z-index: -1;
    width: 5%;
    height: 5%;
    border-radius: 50%;
    background: red;
}

.round-magenta:hover {
    z-index: 2;
    background: magenta;
}

.round-black {
    position: absolute;
    top: 38%;
    left: 75%;
    z-index: -1;
    width: 5%;
    height: 5%;
    border-radius: 50%;
    background: red;
}

.round-black:hover {
    z-index: 2;
    background: black;
}
